/*
 Created on: 17/03/2026
 version: 1.0.0
 description: stylesheet.
 author(s): Oliver, Kristina
 date: 17/03/2026
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
