<!-- 
 Created on: 17/03/2026
 version: 1.0.0
 description: initialised error ejs
 author(s): the system
 date: 17/03/2026
 -->
 
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
