<!-- 
 Created on: 17/03/2026
 version: 1.0.0
 description: initialised index ejs
 author(s): the system
 date: 17/03/2026
 -->
 
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
